body {
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    margin: 0;

}

.flexible {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 7%;
}

.half-width img {
    width: 300%;
    margin-left: -300px;
    margin-top: -100px;


}

#orange {
    color: orangered;
}

.top-left {
    margin-top: 60px;
    font-size: 30px;
    width: 200%;
}

.sec1-banner p {
    color: gray;
    font-size: smaller;
}

.link-button {
    text-decoration: none;
    border-radius: 15px;
    background-image: linear-gradient(orange, orangered);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;


    color: aliceblue;
    font-weight: 800;
    box-shadow: -5px 5px 20px orangered;
}

.about-image {
    width: 8%;
    margin-left: 20%;
    margin-top: 30px;
    padding-left: 15%;
}

.about-right {
    color: gray;
    width: 50%;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 30px;
    font-size: xx-large;
}

#aboutbg {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

.lastsec img {
    margin: 20px;
    width: 70%;
    padding-left: 10px;
    border-radius: 30px;
    margin-left: 60px;

}

.lastsection {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 0;
    padding: 10px;

}

.lastsec {
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
}

.third {

    text-align: center;
    margin-left: 30%;
    margin-right: 30%;

}

#gray {
    color: gray;
    font-weight: 800;
    font-size: xx-large;
}

.box-shadow {

    box-shadow: -10px 10px 40px rgb(255, 145, 0);
    border-bottom: 10px solid rgb(255, 145, 0);
}

.box-shadow2 {

    box-shadow: -10px 10px 40px skyblue;
    border-bottom: 10px solid skyblue;

}