body {
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    margin: 0;

}

.flexible {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 7%;
}

.half-width img {
    width: 300%;
    margin-left: -300px;
    margin-top: -100px;


}

.orange {
    color: orangered;
}

.top-left {
    margin-top: 60px;
    font-size: 30px;
    width: 200%;
}

.sec1-banner p {
    color: gray;
    font-size: smaller;
}

.link-button {
    text-decoration: none;
    border-radius: 15px;
    background-image: linear-gradient(orange, orangered);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;


    color: aliceblue;
    font-weight: 800;
    box-shadow: -5px 5px 20px orangered;
}

.about-image {
    width: 8%;
    margin-left: 20%;
    margin-top: 30px;
    padding-left: 15%;
}

.about-right {
    color: gray;
    width: 50%;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 30px;
    font-size: xx-large;
}

#aboutbg {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

.lastsec img {
    margin: 20px;
    width: 70%;
    padding-left: 10px;
    border-radius: 30px;
    margin-left: 60px;

}

.lastsection {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 0;
    padding: 10px;

}

.lastsec {
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
}

.third {

    text-align: center;
    margin-left: 30%;
    margin-right: 30%;

}

#gray {
    color: gray;
    font-weight: 800;
    font-size: xx-large;
}

.box-shadow {

    box-shadow: -10px 10px 40px rgb(255, 145, 0);
    border-bottom: 10px solid rgb(255, 145, 0);
}

.box-shadow2 {

    box-shadow: -10px 10px 40px skyblue;
    border-bottom: 10px solid skyblue;

}

.lastsec2 {
    width: 70%;


    padding: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 50%;

    border-radius: 10px;
    box-shadow: -10px 10px 40px gray;
    border-bottom: 10px solid gray;

}

.pad {
    margin-left: 100px;

}

#red {
    color: rgb(207, 23, 23);
}

#vio {
    color: rgb(191, 8, 201);
}

#blue {
    color: blue;
}

footer {
    background-color: rgb(54, 54, 72);
    text-align: center;
    color: aliceblue;
    margin-top: 100px;
    padding: 50px;
}

nav {
    display: flex;
    height: 65px;
    transition: 1s;

}

nav ul li {


    display: inline-block;
    list-style: none;

    margin-left: 20px%;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;


}

nav ul {
    margin-left: 40%;
    margin-top: 10px;
    font-weight: 900;
    font-size: 20px;

}

nav img {
    height: 50px;
    width: 50px;
    margin-left: 25px;
    margin-top: 10px;
}

nav h1 {
    color: gray;
    width: 300px;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: ;
}

nav ul li a {
    color: rgb(126, 126, 126);
    text-decoration: none;
    font-weight: 500;
}

nav:hover {

    background-color: rgb(0, 255, 174);
}

nav:hover ul li a {
    color: rgb(0, 141, 7);
}

nav:hover h1 {
    color: rgb(34, 151, 40);
}


.anim {
    opacity: 0;
    transform: translateX(50px);
    animation: moveleft 1s linear forwards;
}

@keyframes moveleft {
    100% {
        opacity: 1;
        transform: translateX(0px);

    }
}

.top-left {
    opacity: 0;
    transform: translateY(40px);
    animation: moveup 1s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);

    }
}